<header class="p-3 bg-dark text-white">
    <div class="container">
      
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2  {{#if NavActiveCad}} text-white {{/if}}">Cadastrar</a></li>
          <li><a href="/users" class="nav-link px-2 {{#if NavActiveUsers}} text-white {{/if}}">Listar Usúarios</a></li>
        </ul>

    </div>
  </header>